
#picture{
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 50px;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


#picture{
    width:300px;
    height:300px;
}

#header{text-align: center;}

#UWindsor-Logo{
    display: block;
    position: relative;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
#UWindsor-Logo{
    width: 400px;
    height: 200px;
}
#coursework{display: block;}

#coursework-title{
    color: silver;
    text-align: center;
    margin-top: 7%;
    font-weight: bold;
}

#courses li{
    list-style-type: none;
    margin-top: 3%;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    color: #FFEC00;
}