*{
    margin: 0;
    padding: 0;

}

.animation-background{
    background: linear-gradient(to left, #3d72b4, #525252);
    width: 100%;
    height: 100vh;
}

.animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.animation li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
}


.animation li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.animation li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: -0s;
}

.animation li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.animation li:nth-child(3){
    left: 70%;
    width: 70px;
    height:70px;
    animation-delay: 4s; /*Change this to 5.5 seconds later and see the result*/
}


@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

nav{z-index: 1;}
#image-maps{z-index: 1;}