
#Main-Title{
    text-align:center;
    font-family: Impact, SansSerif, serif;
    color: aqua;
    margin-top:40px;
}

#github-icon, #linkedin-icon, #resume-icon, #email-icon{
    position: relative;
    flex: content;
    margin-top: 5%;
    font-size: 900%;
    border-radius: 2%;
    margin-left: 15%;
    z-index: 1;
    cursor: pointer;
}
.link{
    position: relative;
    z-index: 1;
}