
body{
    background-color:#FFEC00;
}


#Main-Title{
    text-align:center;
    font-family: Impact;
    color: aqua;
}

.other-pages{
    text-align:center;
}

.my-info{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:24px;
}

.external-image-maps{
    width:150px;
    height:150px;
    margin-right: 80px;
    margin-top:100px;
    margin-left: 80px;
}


.side-project-image{
    height:200px;
    width:200px;
    margin-left:150px;
    margin-right:150px;
}

#covid-19-project:hover{
    background: url("COVID-19-Graph.png");
}