
/*
body#home-page-body{background-image: linear-gradient(to right,#f2709c, #ff9472);}
body#aboutMe-body{ background-image: linear-gradient(to left, #EFEFBB, #D4D3DD);}
body#sideProjects-body{ background-image: linear-gradient(to top, #FC354C, #0ABFBC);}

body#home-page-body{background-image: linear-gradient(to right,#f2709c, #ff9472);}
body#aboutMe-body{ background-image: linear-gradient(to left, #EFEFBB, #D4D3DD);}
body#sideProjects-body{ background-image: linear-gradient(to top, #FC354C, #0ABFBC);}*/

.my-info{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:24px;
}